<div class="mbg-image-upload"
     id="{{$ctrl.uid}}"
     disable-animate
     ng-class="{ 'view-mode': $ctrl.config.viewMode }"
     ng-if="$ctrl.config">
    <div class="mbg-image-upload-wrapper"
         ng-class="{ [$ctrl.config.children.position.toLowerCase()]: true }">
        <div class="mbg-image-upload-main-wrapper"
             ng-style="$ctrl.config.size">
            <mbg-image-upload-main ng-model="$ctrl.ngModel"
                                   enable-crop="$ctrl.enableCrop"
                                   web-cam="$ctrl.webCam"
                                   config="$ctrl.config"></mbg-image-upload-main>
        </div>
        <div class="mbg-image-upload-children-wrapper"
             ng-style="{ width: $ctrl.config.size.width }"
             ng-if="$ctrl.config.maxImages > 1 && ($ctrl.ngModel && $ctrl.ngModel.length >= 1)">
            <mbg-image-upload-children ng-model="$ctrl.ngModel"
                                       web-cam="$ctrl.webCam"
                                       config="$ctrl.config"></mbg-image-upload-children>

        </div>
    </div>
</div>