<div class="table-responsive">
    <ng-transclude></ng-transclude>
    <table class="table {{ $ctrl.class }}">
        <thead>
            <th ng-if="$ctrl.checkbox">
                <mbg-checkbox ng-model="$ctrl.checkAll"
                              ng-change="$ctrl.toogleAll($ctrl.checkAll)"></mbg-checkbox>
            </th>
            <th ng-if="$ctrl.radio"></th>
            <th ng-repeat="column in $ctrl.columns"
                mbg-dynamic-html="column.templateColumn"
                ng-style="column.ngStyle"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="$row in $ctrl.rows track by $index"
                ng-init="$position = $index"
                ng-click="$ctrl.onClickRow($row, $position)">
                <td ng-if="$ctrl.checkbox && !$row.isAdicional">
                    <mbg-checkbox ng-model="$ctrl.selectedMap[$row.$json]"
                                  ng-change="$ctrl.toogleCheckbox()"></mbg-checkbox>
                </td>
                <td ng-if="$ctrl.radio && !$row.isAdicional">
                    <mbg-radio ng-model="$ctrl.selectedMap[$row.$json]"
                               ng-change="$ctrl.toogleRadio($row.$json)"></mbg-radio>
                </td>
                <td ng-repeat="column in $ctrl.columns"
                    ng-if="!$row.isAdicional"
                    mbg-dynamic-html="column.templateRow"></td>
                <td ng-if="$row.isAdicional"
                    colspan="{{ $ctrl.checkbox || $ctrl.radio ? $ctrl.columns.length + 1 : $ctrl.columns.length }}">
                    <div mbg-dynamic-html="$row.template"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>