<div class="mbg-h-c-typeone">
    <div class="mbg-h-c-tone-inside-container"
         ng-style="{'border-color': $ctrl.card.color, 'background-color': $ctrl.card.dark === true ? $ctrl.darkerColor($ctrl.card.color) : '#fff'}"
         ng-class="{'mbg-h-c-tone-darker': $ctrl.card.dark}">
        <div class="mbg-h-c-tone-icon-container">
            <div class="mbg-h-c-tone-icon"
                 ng-style="{'color': $ctrl.card.color, 'background-color': '#fff'}">
                <div class="mbg-h-c-icon-wrapper"></div>
            </div>
        </div>
        <div class="mbg-h-c-tone-text">
            {{ $ctrl.card.text }}
        </div>
        <div class="mbg-h-c-tone-value"
             ng-style="{'color': $ctrl.card.dark === true ? '#fff' : $ctrl.card.color}">

            <div class="mbg-h-c-tone-loading"
                 ng-if="$ctrl.card.loading === true"></div>

            <div class="mbg-h-c-tone-v-real-value"
                 ng-show="$ctrl.card.loading !== true && $ctrl.hideValue !== true"
                 ng-class="{ greey: $ctrl.card.greyColor}">
                {{ $ctrl.card.value }}
            </div>

            <div class="mbg-h-c-tone-v-hide-value"
                 ng-show="$ctrl.card.loading !== true && $ctrl.hideValue === true">
                {{ $ctrl.randomEmoji }}
            </div>

        </div>
        <div ng-if="$ctrl.card.loading !== true"
             class="mbg-h-c-tone-show"
             ng-style="{'color': $ctrl.card.dark === true ? '#fff' : $ctrl.card.color}"
             ng-click="$ctrl.toggleShowValue()">
            <div class="mbg-h-c-tone-s-text">
                {{ $ctrl.hideValue === true ? 'Mostrar valor' : 'Esconder valor' }}
            </div>
            <div class="mbg-h-c-tone-s-icon">
                <i ng-if="$ctrl.hideValue === true"
                   class="far fa-eye"></i>
                <i ng-if="$ctrl.hideValue !== true"
                   class="far fa-eye-slash"></i>
            </div>
        </div>
    </div>
</div>