<div class="image-crop-wrapper">

	<svg class="close-crop"
	     ng-class="{'rounded':$ctrl.config.rounded}"
	     ng-click="$ctrl.closeCrop()"
	     xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
	     xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
	     xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
	     xmlns="http://www.w3.org/2000/svg"
	     xmlns:xlink="http://www.w3.org/1999/xlink"
	     version="1.1"
	     x="0px"
	     y="0px"
	     viewBox="0 0 105 105"
	     style="enable-background:new 0 0 100 100;"
	     xml:space="preserve">
		<switch>
			<foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/"
			               x="0"
			               y="0"
			               width="1"
			               height="1" />
			<g i:extraneous="self">
				<g>
					<polygon points="62.1,31.8 50,43.8 37.9,31.8 31.8,37.9 43.8,50 31.8,62.1 37.9,68.2 50,56.2 62.1,68.2 68.2,62.1 56.2,50      68.2,37.9    "
					/>
					<path d="M50,2.5C23.8,2.5,2.5,23.8,2.5,50c0,26.2,21.3,47.5,47.5,47.5S97.5,76.2,97.5,50C97.5,23.8,76.2,2.5,50,2.5z M50,84.4     C31,84.4,15.6,69,15.6,50S31,15.6,50,15.6C69,15.6,84.4,31,84.4,50S69,84.4,50,84.4z"
					/>
				</g>
			</g>
		</switch>
	</svg>
	<svg class="accept"
	     ng-class="{'rounded':$ctrl.config.rounded}"
	     ng-click="$ctrl.acceptCrop()"
	     xmlns="http://www.w3.org/2000/svg"
	     xmlns:xlink="http://www.w3.org/1999/xlink"
	     version="1.0"
	     x="0px"
	     y="0px"
	     viewBox="0 0 100 100"
	     enable-background="new 0 0 100 100"
	     xml:space="preserve">
		<path d="M50,5C25.2,5,5,25.2,5,50s20.2,45,45,45s45-20.2,45-45S74.8,5,50,5z M50,85c-19.3,0-35-15.7-35-35s15.7-35,35-35  s35,15.7,35,35S69.3,85,50,85z"
		/>
		<polygon points="45,52.9 35,42.9 27.9,50 45,67.1 72.1,40 65,32.9 " />
	</svg>
	<div class="crop" ng-class="{'rounded':$ctrl.config.rounded}">
	</div>
</div>