mbg-image-upload-children {
    display: flex;
    width: 100%;
    height: fit-content;
    .mbg-image-upload-children {
        border-radius: 8px;
        width: 100%;
        height: fit-content;
        // border: 1px solid #eee;
        // background: #fff;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: fit-content(100%);
        grid-row-gap: 10px;
        &.empty {
            opacity: .6;
            cursor: not-allowed;
        }
        .mbg-image-upload-children-content {
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .mbg-image-upload-child {
                width: 90%;
                height: 60px;
                border: 1px solid #ddd;
                border-radius: 5px;
                cursor: pointer;
                transition: all 350ms ease;
                will-change: transform, transition;
                &:hover {
                    transform: scale(1.08);
                }
            }
        }
    }
}