.mbg-dropdown-wrapper {
  display: flex;
  span {
    display: flex;
    font-weight: 500;
    .title-option {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--neutral2);

      svg {
        fill: var(--neutral2);
        width: 17px;
        margin-left: 6px;
      }

      &:hover,
      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
    .options {
      a {
        display: flex;
        align-items: center;
        color: var(--neutral2);
        padding: 6px 20px;

        i {
            color: var(--neutral2);
            margin-right: 10px;
        }
      }
    }

    .dropdown-menu {
        padding: 0;
        margin-top: 10px;
        border: 1px solid #f5f5f5;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,.03);

        .mbg-separator {
          pointer-events: none;
          position: relative;
          display: flex;

          a {
            padding: 0px;
          }

          &:after {
            content: '';
            height: 1px;
            width: 100%;
            background-color: #e4e4e4;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-100%);
          }
        }

        &.left {
            transform: translateX(-100%);
            left: 70px;
        }
    }
  }

  input[type="file"] {
    display: none;
  }
}
