.mbg-pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    * {
        user-select: none;
    }
    button {
        font-weight: bold;
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 38px;
        min-width: fit-content;
        height: 38px;
        margin: 0 5px;
        cursor: pointer;
        color: #666;
        text-decoration: none;
        outline: none;
        &.active {
            background: var(--primary);
            color: #FFF;
        }
        &[key="first"], &[key="last"] {
            text-decoration: underline;
            margin: 0 14px;
            opacity: 0;
            pointer-events: none;
            &.visible {                
                opacity: 1;
                pointer-events: all;
            }
        }
        svg {
            width: 16px;
        }
    }
}