.mbg-pagination-wrapper {
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-arrow {
            background-color: transparent;
            border: 0px;
            transition: transform 200ms ease;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            color: #666;
            &:hover {
                transform: scale(1.1)
            }
        }
        .page {
            border-radius: 50%;
            width: 34px;
            height: 34px;
            color: var(--primary);
            border: 1 solid var(--primary);
        }
        .prev {
            i {
                margin-right: 10px;
            }
        }
        .next {
            margin-right: 34px;
            i {
                margin-left: 10px;
            }
        }
        .inf-page {
            margin-right: 24px;
        }
}