<div class="mbg-image-upload"
     ng-if="$ctrl.config"
     ng-style="$ctrl.config.size">
    <div class="mbg-image-upload-wrapper"
         ng-class="{ [$ctrl.config.children.position.toLowerCase()]: true }">
        <div class="mbg-image-upload-main-wrapper">
            <mbg-image-upload-main ng-model="$ctrl.ngModel"
                                   config="$ctrl.config"></mbg-image-upload-main>
        </div>
        <div class="mbg-image-upload-children-wrapper"
             ng-if="$ctrl.config.maxImages > 1">
            <mbg-image-upload-children ng-model="$ctrl.ngModel"
                                       config="$ctrl.config"></mbg-image-upload-children>
        </div>
    </div>
</div>