<div class="mbg-product-grid-wrapper">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th class="grid-center-content">
                    <label>{{ $ctrl.y.label }}</label>
                </th>
                <th class="grid-center-content"
                    colspan="{{ $ctrl.getItemX().length }}">
                    <label>{{ $ctrl.x.label }}</label>
                    <a class="grid-adicional-link"
                       ng-click="$ctrl.onClickExtraButton()">
                        {{ $ctrl.extraButtonLabel }}
                    </a>
                </th>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="xItem in $ctrl.getItemX()"
                    class="grid-center-content">
                    <label>{{ xItem.value }}</label>
                </td>
            </tr>
            <tr ng-repeat="yItem in $ctrl.getItemY()">
                <td>
                    <div class="grid-product-item-name-wrapper">
                        <div class="grid-product-item-circle"
                             ng-style="{'background': yItem.valueRef}"></div>
                        <span>{{ yItem.value }}</span>
                    </div>
                </td>
                <td ng-repeat="xItem in $ctrl.getItemX()">
                    <div class="grid-product-edit-wrapper">
                        <span>Estoque</span>
                        <mbg-input-number ng-model="$ctrl.gridValues[$index][$parent.$index].stock"
                                          placeholder="0"
                                          ng-change="$ctrl.handleGridValues()"
                                          class="grid-product-stock"></mbg-input-number>
                        <mbg-input-money placeholder="R$ 0,00"
                                         ng-change="$ctrl.handleGridValues()"
                                         ng-model="$ctrl.gridValues[$index][$parent.$index].price"></mbg-input-money>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>