<div class="mbg-image-upload-main"
     ng-click="$ctrl.openImageChoice()">
    <input type="file"
           onchange="angular.element(this).scope().$ctrl.onFilesChoice(event)" />
    <mbg-image-upload-loading ng-if="$ctrl.loading"></mbg-image-upload-loading>
    <mbg-image-upload-no-image width="64px"
                               ng-if="!$ctrl.enableImageContent() && !$ctrl.loading"></mbg-image-upload-no-image>
    <div class="mbg-image-upload-content"
         ng-if="$ctrl.enableImageContent() && !$ctrl.loading"
         ng-style="$ctrl.getImageContent()">
    </div>
    <div class="mbg-image-upload-max-files"
         ng-class="{ 'active': $ctrl.showAlertMessage }">
        {{ $ctrl.showAlertMessage }}
    </div>
</div>