.mb-input-step-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 44px;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 0;
    cursor: text;
    overflow: auto;
    &::-webkit-scrollbar { 
        display: none; 
    }
    > label {
        color: #bcbcbc;
        font-style: italic;
        margin: 0;
        font-weight: 100;
        position: absolute;
        left: 14px;
        cursor: text;
        pointer-events: none;
    }
    > ng-transclude {
        display: flex;
        max-width: 100%;
    }
    mbg-input-step-item:last-child {
        .mbg-input-step-item {
            &.active {
                &::after {
                    display: none;
                }
            }
        }
    }
}