@keyframes mb-placeholder-loading {
	0% {
		background-position: 100% 100%;
	}

	100% {
		background-position: -100% -100%;
	}
}

.mbg-skeleton {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: mb-placeholder-loading;
    background: #f6f7f8;
    background: linear-gradient(to bottom right, #eeeeee 8%, #c4c4c4 18%, #eeeeee 33%);
    background-size: 300% 300%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
  }