.mbg-multi-select-wrapper {
    .mbg-multi-select-scroll {
        border: 1px solid #ddd;
        background: #FFF;
        border-radius: 5px;
        padding: 8px;
        -ms-flex: 1 1;
        flex: 1 1;
        outline: none;
        width: inherit;
        display: inline-flex;
        height: 44px;
        align-items: center;
        overflow: visible;
        max-width: 100%;
        overflow: scroll;
         overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        &::-webkit-scrollbar {
            display: none;
        }
        .mbg-multi-select-content{
            display: inline-flex;
            align-items: center;
        }
        input {
            width: 100%;
            border: none;
            background-color: transparent;
            padding: 0 0 0 10px;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        ul {
            &.items-selected {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                width: fit-content;
                min-width: fit-content;
                li {
                    min-width: fit-content;
                    background: #e6e6e6;
                    border-radius: 4px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 5px 0px 8px;
                    color: #666;
                    margin-right: 8px;
                    font-size: 14px;
                    width: max-content;
                    cursor: move;
                    font-weight: 500;
                    * {
                        user-select: none;
                    }
                    svg {
                        cursor: pointer;
                        width: 14px;
                        fill: currentColor;
                        margin-left: 4px;
                        display: flex;
                        align-items: center;
                        pointer-events: all;
                    }
                    &.dragging {
                        opacity: .6;
                    }
                    &.over {
                        background: red;
                    }
                }
            }
        }
        mbg-select {
            flex: 1;
            min-width: 191.03px;
            i {
                display: none;
            }
        }
    }
}
