<div class="mbg-address-wrapper">
    <div class="mbg-input-wrapper input-cep-wrapper">
        <input type="text"
               name="cep"
               autocomplete="off"
               ng-keyup="$ctrl.resetAddress()"
               ng-model="$ctrl.address.zipCode"
               placeholder="99999-999"
               ui-br-cep-mask>
    </div>
    <mbg-input-step placeholder="Estado, Cidade, Endereço, Número">
        <mbg-input-step-item ng-model="$ctrl.address.uf"
                             fetch="$ctrl.getStates(query)"
                             placeholder="Qual o estado?"
                             label="name"></mbg-input-step-item>
        <mbg-input-step-item ng-model="$ctrl.address.localization"
                             fetch="$ctrl.getCities(query)"
                             placeholder="Qual a cidade?"></mbg-input-step-item>
        <mbg-input-step-item ng-model="$ctrl.address.premisse"
                             fetch="$ctrl.getPremisses(query)"
                             placeholder="Agora, digite o endereço"></mbg-input-step-item>
        <mbg-input-step-item ng-model="$ctrl.address.number"
                             placeholder="Qual o número?"></mbg-input-step-item>
    </mbg-input-step>
</div>