<div class="mbg-address-wrapper"
     disable-animate>
    <div class="mbg-input-wrapper input-cep-wrapper"
         ng-class="$ctrl.cepClass"
         disable-animate>
        <input autocomplete="disabled"
               autocorrect="disabled"
               autocapitalize="disabled"
               spellcheck="false"
               type="text"
               name="CEP"
               ng-change="$ctrl.onChangeCep()"
               ng-model="$ctrl.address.zipCode"
               placeholder="99999-999"
               ui-br-cep-mask/>
    </div>
    <mbg-input-step disable-animate
                    on-finish-focus-element="{{$ctrl.onFinishFocusElement}}"
                    placeholder="Estado, Cidade, Endereço, Número">
        <mbg-input-step-item ng-model="$ctrl.address.uf"
                             fetch="$ctrl.getStates(query)"
                             placeholder="'Qual o estado?'"
                             ng-change="$ctrl.onUfChange()"
                             disable-animate
                             on-move-prev-item="$ctrl.focusInputCep()"
                             label="name"></mbg-input-step-item>
        <mbg-input-step-item ng-model="$ctrl.address.localization"
                             fetch="$ctrl.getCities(query)"
                             ng-change="$ctrl.onCityChange()"
                             disable-animate
                             placeholder="'Qual a cidade?'"></mbg-input-step-item>
        <mbg-input-step-item ng-model="$ctrl.address.premisse"
                             fetch="$ctrl.getPremisses(query)"
                             enable-add="true"
                             hidden-add-label="true"
                             add-only-empty="true"
                             disable-animate
                             placeholder="'Agora, digite o endereço'"></mbg-input-step-item>
        <mbg-input-step-item ng-model="$ctrl.address.neighbourhood"
                             disable-animate
                             capitalize="true"
                             placeholder="'Informe o bairro'"></mbg-input-step-item>
        <mbg-input-step-item ng-model="$ctrl.address.number"
                             disable-animate
                             ng-change="$ctrl.searchAddressInfo()"
                             placeholder="'Qual o número?'"></mbg-input-step-item>
        <mbg-input-step-item ng-model="$ctrl.address.information"
                             disable-animate
                             placeholder="'Complemento'"></mbg-input-step-item>
    </mbg-input-step>
</div>