.mbg-confirm-alert-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;

  .information-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    margin-top: 44px;

    h3 {
      text-align: center;
      color: var(--neutral2);
      margin: 14px 0px 24px 0px;
      font-size: 18px;
    }

    p.message {
      text-align: center;
      color: var(--neutral2);
      margin-bottom: 26px;
      white-space: pre-line;
    }

    .tip-wrapper {
      p {
        margin: 0px 0 26px 0;
        color: var(--neutral2);
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .mbg-alert-icon {
    border: 6px solid #7d7d7d;
    border-radius: 50%;
    background-color: var(--info);
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 114px;

    svg {
      width: 104px;
      fill: #fff;
    }

    &.information {
      svg {
        transform: rotate(180deg);
        transform: scale(1.4);
      }
    }

    &.warning {
      svg {
        transform: scale(1.4);
      }
    }

    &.success {
      svg {
        transform: scale(1.06);
      }
    }
  }

  .mbg-group-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 50px;
      background-color: var(--contrast);
      min-width: 144px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      border-radius: 40px;
      border: 0px;
      text-transform: uppercase;

      &:active,
      &:focus {
        box-shadow: none;
        outline: none;
      }

      &.mbg-btn-accept {
        background-color: var(--contrast);
      }
    }

    .mbg-link-cancel {
      cursor: pointer;
      margin-top: 14px;
      color: var(--neutral2);
      font-size: 13px;
    }
  }

  .warning {
    background-color: var(--warn) !important;
  }

  .information {
    background-color: var(--info) !important;
  }

  .success {
    background-color: var(--success) !important;
  }

  .error {
    background-color: var(--error) !important;
  }
}
