.mbg-btn-form-wrapper {
	button{
		display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
		height: 50px;
    background-color: var(--contrast);
    width: 100%;
    min-width: 300px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
		border-radius: 40px;
		border: 0px;
		text-transform: uppercase;
		}
}