
mbg-input-search {
	display: flex;
	.mbg-input-search-wrapper {
		&.mbg-input-wrapper {
			.btn-group {
				position: relative;
				width: 100%;
				margin: 0;
				svg {
					fill: var(--neutral3);
					width: 24px;
					position: absolute;
					display: flex;
					height: 100%;
					left: 20px;
				}
				input {
					padding: 8px 59px;
					height: 44px;
					border-radius: 50px;
					width: 100%;
					background-color: #f8f8f8;
					&.pad-alt {
						padding: 8px 59px 8px 160px;
					}
				}
				select {
					position: absolute;
					display: flex;
					height: 100%;
					left: 52px;
					width: 100px;
					border: none;
					background-color: transparent;
					&:focus {
						outline: none
					}
					option {
						border: none;

					}
				}
			}
		}
	}
}