
mbg-input-search {
	display: flex;
	.mbg-input-search-wrapper {
		&.mbg-input-wrapper {
			.btn-group {
				position: relative;
				width: 100%;
				margin: 0;
				svg {
					fill: var(--neutral3);
					width: 24px;
					position: absolute;
					display: flex;
					height: 100%;
					left: 20px;
				}
				input {
					padding: 8px 59px;
					height: 44px;
					border-radius: 50px;
					width: 100%;
					background-color: #f8f8f8;
				}
			}
		}
	}
}