
mbg-input-search {
	.mbg-input-search-wrapper {
			.input-group-search {
				display: flex;
				border: 1px solid #ccc;
				border-radius: 50px;
				height: 44px;
				background-color: #f8f8f8;
				padding: 0 18px;
				&.top-layout{
					border-radius: 4px;
				}
				svg {
					fill: var(--neutral3);
					width: 24px;
				    margin-right: 10px;
				}
				div[ng-transclude] {
					display: flex;
				}
				input {
					width: 100%;
					border: none;
					background-color: transparent;
					padding: 0 0 0 10px;
					&:focus {
						outline: none;
						box-shadow: none;
					}
				}
				select {
				    border: none;
    				background-color: transparent;
					&:focus {
						outline: none
					}
					option {
						border: none;

					}
				}
			}
	}
}