mbg-input-checkbox {
  .mb-input-checkbox-wrapper {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding: 0;
    background-color: #fff;

    > * {
      flex: 1;
      input {
        border: 1px solid #ddd;
        border-left: none;
        border-right: none;
        border-radius: none;
        padding-left: 44px;
      }
    }
    mbg-checkbox {
      left: 14px;
      position: absolute;
      flex: none;
    }
  }
}
