<div class="mbg-select-wrapper">
    <mbg-input-text ng-model="$ctrl.inputValue"
        ng-focus="$ctrl.onInputFocus()"
        ng-blur="$ctrl.onInputBlur()"
        placeholder="{{ $ctrl.placeholder }}"
        ng-keydown="$ctrl.onInputKeydown($event)"
        ng-change="$ctrl.onInputChange()"></mbg-input-text>
    <svg class="loading"
        ng-show="$ctrl.isLoading"
        version="1.1"
        id="loader-1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="40px"
        height="40px"
        viewBox="0 0 50 50"
        style="enable-background:new 0 0 50 50;"
        xml:space="preserve">
        <path d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
            <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 25 25"
                to="360 25 25"
                dur="0.6s"
                repeatCount="indefinite" />
        </path>
    </svg>
    <i class="fa fa-caret-down mbg-icon-select"
        ng-show="!$ctrl.ngModel && !$ctrl.isLoading"
        ng-click="$ctrl.onInputFocus(true)"
        aria-hidden="true"></i>
    <i class="fa fa-times mbg-icon-select"
        ng-show="$ctrl.ngModel && !$ctrl.isLoading"
        aria-hidden="true"
        ng-click="$ctrl.clearNgModel(true)"></i>
    <ul class="mbg-select-list"
        ng-class="{'active': $ctrl.hasFocus && ($ctrl.data.length > 0 || $ctrl.enableAdd)}">
        <li ng-show="$ctrl.data"
            ng-mousedown="$ctrl.selectOption(item)"
            ng-repeat="item in $ctrl.data">
            <div ng-if="$ctrl.transcludeTemplate"
                mbg-dynamic-html="$ctrl.transcludeTemplate"></div>
            <div ng-if="!$ctrl.transcludeTemplate">{{item[$ctrl.label]}}</div>
            <i title="Favoritar"
                ng-mousedown="$ctrl.favorite($event, item)"
                ng-class="{ 'fa fa-star-o': !$ctrl.isFavorite(item), 'fa fa-star': $ctrl.isFavorite(item) }"></i>

        </li>
        <li ng-if="$ctrl.addOnlyEmpty ? ($ctrl.enableAdd && $ctrl.inputValue && $ctrl.data.length == 0) : ($ctrl.enableAdd && $ctrl.inputValue)"
            disable-animate
            ng-mousedown="$ctrl.selectOption({ [$ctrl.label]: $ctrl.inputValue })">
            {{ $ctrl.inputValue }}
            <span ng-hide="$ctrl.hiddenAddLabel">(novo)</span>
        </li>
    </ul>
</div>