<div class="mbg-select-wrapper">
    <mbg-input-text ng-model="$ctrl.inputValue"
        ng-focus="$ctrl.onInputFocus()"
        ng-blur="$ctrl.onInputBlur()"
        ng-keydown="$ctrl.onInputKeydown($event)"
        ng-change="$ctrl.onInputChange()"></mbg-input-text>
    <svg class="loading"
        ng-show="$ctrl.isLoading"
        version="1.1"
        id="loader-1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="40px"
        height="40px"
        viewBox="0 0 50 50"
        style="enable-background:new 0 0 50 50;"
        xml:space="preserve">
        <path d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
            <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 25 25"
                to="360 25 25"
                dur="0.6s"
                repeatCount="indefinite" />
        </path>
    </svg>
    <i class="fa fa-caret-down mbg-icon-select"
        ng-show="!$ctrl.ngModel && !$ctrl.isLoading"
        ng-click="$ctrl.onInputFocus()"
        aria-hidden="true"></i>
    <i class="fa fa-times mbg-icon-select"
        ng-show="$ctrl.ngModel && !$ctrl.isLoading"
        aria-hidden="true"
        ng-click="$ctrl.clearNgModel()"></i>
    <ul class="mbg-select-list"
        ng-class="{'active': $ctrl.hasFocus && $ctrl.data.length > 0}">
        <li ng-if="$ctrl.data"
            ng-mousedown="$ctrl.selectOption(item)"
            ng-repeat="item in $ctrl.data">
            {{item[$ctrl.label]}}
        </li>
    </ul>
</div>