<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=0.4, maximum-scale=1, user-scalable=no">
  <title>Document</title>
  <!-- Latest compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <style>
    :root {
      --primary: #00bbbd;
      --secundary: #582098;
      --bgColor: #f8f8f8;
      --contrast: #E81756;
      --quickMenuBackground: #ba1546;
      --backgroundTopBar: #FFF;
      --logoDetail: #FFF;
      --footerPrimary: #6e2bbb;
      --footerDark: #6e2bbb;
      --footerAccent: #FF0064;
      --neutral1: #292929;
      --neutral2: #7b7b7b;
      --neutral3: #bcbcbc;
      --inputStroke: #d7d7d7;
      --color1: #6e2bbb;
      --color2: #eff5f1;
      --color3: #582098;
      --color4: #00bbbd;
      --defaultColor: #4e4e4e;
      --titleColor: #848484;
      --error: #E81756;
      --info: #69a8e3;
      --warn: #ee8946;
      --success: #6ab662;
      --woman: #efb1de;
      --man: #a3c8ea;
      --grey: #666;
    }

    /* body,
    html {
      background: #fff;
      padding-top: 40px;


    }

    .label-margin label {
      margin-top: 14px;
    }

    button {
      touch-action: manipulation;
    } */
  </style>
  <style>
    .testeContainer {
      width: 100%;
      height: 100vh;
      background-color: #f8f8f8;
      color: var(--grey);
    }

    .testeBarraTopo {
      width: 100%;
      height: 80px;
      background-color: #ffffff;
      border-bottom: 1px solid rgb(235, 235, 235);
    }

    .testeMenuLateral {
      width: 120px;
      height: calc(100vh - 80px);
      background-color: #f8f8f8;
      display: inline-block;
      vertical-align: top;
    }

    .testeConteudo {
      height: calc(100vh - 80px);
      width: 100%;
      background-color: #f8f8f8;
      display: inline-block;
      vertical-align: top;
      overflow-y: auto;
      padding: 0 24px;
    }

    .testeConteudoTop {
      height: 200px;
      width: 100%;
      margin-top: 10px;
      background-color: #f8f8f8;
    }

    body {
      background-color: #f8f8f8;
      font-family: 'Montserrat', sans-serif;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body ng-controller="demoCtrl">

  <div class="container">
    <mbg-keyboard active-color="#0CBCBD" options="optionsKeyboard"></mbg-keyboard>
    <br><br><br><br><br><br><br>

    <!-- <mbg-input-search placeholder="Quem você está procurando ?"
                      ng-model-options="{ debounce: 300 }"
                      ng-change="$ctrl.onSearchChange()"
                      ng-model="$ctrl.pagination.filter.text"
                      ng-top-layout="true"></mbg-input-search> <br><br><br>

    <mbg-select-multi-list ng-model="selectedItems"
                           placeholder-left="Pesquise pelo numero"
                           placeholder-right="Pesquise pelo numero 2"
                           fetch="searchTeste(query)"
                           count="count"
                           label="label"
                           data="dataTeste">
      <mbg-header-content>
        <h2>TEste</h2>
      </mbg-header-content>
      <mbg-row-content>
        <div class="panel">
          123 - {{$row.label}}
          <i ng-click="$c.testeteste($event)">click</i>
        </div>
      </mbg-row-content>
    </mbg-select-multi-list> -->
    <!-- <mbg-input-text ng-model="nomeCompletoDoCliente"
                    mbg-error="!nomeCompletoDoCliente"
                    mbg-error-message="Precisamos saber o nome completo do cliente."></mbg-input-text> -->

    <!-- <form name="formData" style="padding: 0 64px;"> -->

    <!-- <div class="row"> -->
    <!-- <div class="col-md-6"> -->
    <!-- <label for="" style="font-size: 14px;
          color: var(--neutral1);
          margin-top: 15px;
          font-weight: 500;
          margin-bottom: 12px;">Test1 </label>
          <mbg-multi-select ng-model="izkkkkkkkkadnksanksandsa"
                            placeholder="Adicionar campo..."
                            enable-sort="false"
                            enable-add="true"
                            fetch="testedlsadkasjn()">
          </mbg-multi-select>
          <label for="" style="font-size: 14px;
          color: var(--neutral1);
          margin-top: 15px;
          font-weight: 500;
          margin-bottom: 12px;">Test1 </label>
          <mbg-multi-select ng-model="izkkkkkkkkadnksanksandsa"
                            placeholder="Adicionar campo..."
                            enable-sort="false"
                            enable-add="true"
                            fetch="testedlsadkasjn()">
          </mbg-multi-select> -->
    <!-- </div> -->
    <!-- <div class="col-md-6">
          <mbg-input-file ng-model="mbginputfiles"></mbg-input-file>
        </div>
      </div>

      <br><br> -->

    <!-- <pre>{{ izkkkkkkkkadnksanksandsa | json }}</pre> <br><br><br> -->

    <!-- <mbg-multi-select ng-model="selecteds"
                        placeholder="Adicionar campo..."
                        fetch="getOptionsMultiSelect()"
                        ng-blur="blurTest()"
                        label="label"
                        ng-focus="focusTest()">
      </mbg-multi-select>

      <pre>{{ selecteds | json }}</pre> <br><br><br> -->

    <!-- <mbg-input-text ng-model="text2"
                      mbg-error="!text2"
                      mbg-error-when="inputErros"
                      mbg-error-trigger="hover"
                      mbg-error-message="Abacaxi são gostosos"></mbg-input-text> <br>

      <mbg-input-text ng-model="text3"
                      mbg-error="!text3"
                      mbg-error-when="inputErros"
                      mbg-error-message="Abacaxi são gostosos"></mbg-input-text> <br>

      <mbg-input-text ng-model="text4"
                      mbg-error="!text4"
                      mbg-error-when="inputErros"
                      mbg-error-message="Abacaxi são gostosos"></mbg-input-text> <br>

      <mbg-input-text ng-model="text5"
                      mbg-error="!text5"
                      mbg-error-when="inputErros"
                      mbg-error-message="Abacaxi são gostosos"></mbg-input-text> <br> -->

    <!-- </form>

    <br><br><br><br><br><br><br> -->

    <!-- {{ formData.$valid }}

    <button ng-click="inputErros = true">Salvar</button> -->


    <!-- </div> -->

    <!-- <div class="container"> <br><br><br> -->

    <!-- <mbg-product-search ng-model="teste"
                        label="barCode"
                        try-add="addItem(barCode, quantity)"
                        auto-clear="false"
                        fetch="getProductsDTO(query, page)">
    </mbg-product-search> -->

    <!-- <div class="row">
      <div class="col-md-4">
        <label>Single</label>
        <mbg-input-date ng-model="entity.nasc"></mbg-input-date>
      </div>
      <div class="col-md-4">
        <label>Single With Calendar</label>
        <mbg-input-date ng-model="entity.nasc" calendar="true"></mbg-input-date>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-md-4">
        <label>Between</label>
        <mbg-input-date ng-model="entity.between"
                        placeholder-start="Ida"
                        placeholder-end="Volta"
                        between="true"
                        between-text=""
                        calendar="true"></mbg-input-date>
      </div>
    </div>


    <br><br><br>
    <button ng-click="print()">foi</button>
    <br><br>
    {{ entity.between | json }} -->

    <!-- <mbg-connection-retry ping-url="https://api-hom.kigisistemas.com.br/mobiage-api/actuator/health">
    </mbg-connection-retry> -->
    <!-- <mbg-image-upload config="config"
                      ng-model="profileImage"></mbg-image-upload> -->
    <!-- <mbg-input-receive-day label="Dia Loco mano" ng-model="$ctrl.teste"></mbg-input-receive-day> -->
    <!-- <mbg-dropdown options="optionsDropdown" label="Opções"></mbg-dropdown> -->
    <!-- <mbg-progress-circle title-progress="Realizando upload" show="show" duration="6000"></mbg-progress-circle> -->
    <!-- <mbg-checkbox ng-model="valor" ng-disabled="false"></mbg-checkbox> -->

    <!-- <mbg-mindmap tree="treeOrgs"
                 loop-key="children"
                 enable-edit="true"
                 on-click-edit="testefelipegordao($item)">
    </mbg-mindmap> -->

    <!-- <mbg-loading config="testeobj"></mbg-loading> -->

    <!-- <mbg-homescreen config="homeConfig" allowed-call-back="testecons()" allowed-to-see="false" display-values="displayValues"></mbg-homescreen> -->

    <!-- <label for="">Monte o nome do produto. <span style="color: #666;">&nbsp;&nbsp;&nbsp;Ex: {{ getLabelSelected() }}</span></label> -->

    <!-- <div class="row">
      <div class="col-md-4">
        <mbg-multi-select ng-model="selecteds"
                          placeholder="Adicionar campo..."
                          enable-sort="true"
                          fetch="getOptionsMultiSelect()"
                          ng-blur="blurTest()"
                          ng-focus="focusTest()">
        </mbg-multi-select>
      </div>
    </div> -->
    <!--
    <br>
    <br>
    <br> -->

    <!-- <mbg-input-text ng-value="'dsdfsdf'"
                    ng-model="locura"></mbg-input-text>
    {{locura}} -->
    <!-- <div class="row">
      <div class="col-md-6">
        <mbg-product-search ng-model="teste"
                            label="barCode"
                            try-add="addItem(barCode, quantity)"
                            auto-clear="false"
                            fetch="getProductsDTO(query, page)">
        </mbg-product-search>
      </div>
      <div class="col-md-6">
        <mbg-keyboard active-color="#0CBCBD" options="optionsKeyboard"></mbg-keyboard>
      </div>
    </div> -->

    <!-- <mbg-pagination active-page="activePage"
                    page-size="10"
                    count="120000"
                    page-range-displayed="10"></mbg-pagination> -->

    <!-- <mbg-input-number ng-model="teste222222222"
                      enable-keyboard
                      min="1"
                      max="31"></mbg-input-number> -->


    <!--  -->


    <!-- <mbg-input-number ng-model="teste22222"></mbg-input-number>

     -->

    <!-- <mbg-input-step placeholder="Ex. Camiseta, Adidas, Verão"
                    on-finish-focus-element="#entityModel input">
      <mbg-input-step-item ng-model="entity.productTree"
                           fetch="getTipoProdutoObj()"
                           focus="focusedTeste('1')"
                           un-focus="unFocus()"
                           placeholder="'Selecione na lista abaixo o tipo de produto.'"
                           label="name">
        <template>
          Teste - {{ item.name }}
        </template>
      </mbg-input-step-item>
      <mbg-input-step-item ng-model="entity.brand"
                           fetch="getMarca()"
                           focus="focusedTeste('2')"
                           placeholder="countBrands > 0 ? 'Digite a marca ou selecione uma na lista abaixo' : 'Digite a marca.'"
                           enable-add="true"
                           un-focus="unFocus()"
                           label="name"></mbg-input-step-item>
      <mbg-input-step-item ng-model="entity.model"
                           focus="focusedTeste('3')"
                           un-focus="unFocus()"
                           capitalize="true"
                           placeholder="'Qual o modelo?'"></mbg-input-step-item>
    </mbg-input-step> -->

    <mbg-select ng-model="teste" fetch="getModelo(query)" label="name" placeholder="TESTEEEEE" enable-add="true"
      name="teste5" callback-add="testeadd()" add-only-not-equal="true" enable-favorite="true">
    </mbg-select>

    <!-- <br>
    <pre>{{teste | json}}</pre> -->
    <!-- <div style="max-width: 600px;">
      <mbg-address ng-model="address"></mbg-address>
    </div> -->

    <!-- <pre>{{ address | json }}</pre>
    <input class="teste"> -->

    <!-- <mbg-input-search ng-model="teste" ng-top-layout="true">
      <select ng-model="$parent.$parent.teste2">
        <option ng-repeat="op in opcoesSelect">{{ op.label }}</option>
      </select>
    </mbg-input-search> -->

    <!-- <p>aqui {{ teste2 }} {{ opcoesSelect.length }}</p> -->

    <!-- <div class="panel panel-default label-margin">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <label>Código de barras</label>
                <i class="fa fa-car"
                   aria-hidden="true"></i>
                <mbg-input-text ng-model="entity.code"
                                id="barCode"
                                ng-keydown="teste222($event)"></mbg-input-text>
              </div>
            </div>-->
    <!-- <div class="row"> -->
    <!-- <div class="col-md-12">
                <label>Data de nascimento</label>
                <mbg-input-date ng-model="entity.nasc"></mbg-input-date>
              </div>
            </div> -->
    <!-- <div class="row">
              <div class="col-md-12">
                <label>CPF</label>
                <mbg-input-cpf ng-model="entity.cpfValue"></mbg-input-cpf>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-md-offset-1"> -->

    <!-- <mbg-keyboard active-color="#0CBCBD"
                          focus-element="#barCode input"
                          options="optionsKeyboard"></mbg-keyboard> -->

    <!-- </div>
        </div>
      </div>
    </div>  -->



    <!--

    <pre>{{address|json}}</pre> -->

    <!-- <mbg-input-step placeholder="Ex. Camiseta, Adidas, Verão"
      on-finish-focus-element="#entityModel input">
      <mbg-input-step-item ng-model="entity.productTree"
        fetch="getTipoProduto()"
        focus="focusedTeste('1')"
        un-focus="unFocus()"
        name="teste"
        placeholder="'Selecione na lista abaixo o tipo de produto.'"
        label="name">
        <template>
          {{item.name}}
        </template>
      </mbg-input-step-item>
      <mbg-input-step-item ng-model="entity.brand"
        fetch="getMarca()"
        focus="focusedTeste('2')"
        placeholder="countBrands > 0 ? 'Digite a marca ou selecione uma na lista abaixo' : 'Digite a marca.'"
        enable-add="true"
        un-focus="unFocus()"
        label="name"></mbg-input-step-item>
      <mbg-input-step-item ng-model="entity.model"
        focus="focusedTeste('3')"
        un-focus="unFocus()"
        capitalize="true"
        placeholder="'Qual o modelo?'"></mbg-input-step-item>
      <mbg-input-step-item ng-model="entity.model2"
        focus="focusedTeste('3')"
        un-focus="unFocus()"
        capitalize="true"
        placeholder="'Qual o modelodsadsadsaasd?'"></mbg-input-step-item>
    </mbg-input-step> -->

    <!-- <mbg-product-grid
      x="{ key: 'TAMANHO', label: 'TAMANHOS PRODUTO' }"
      y="{ key: 'COR', label: 'COR PRODUTO' }"
      details="details"
      ng-model="result"
      input-label="'Devolver'"
      enable-price="false"
      enable-current-stock="true">
    </mbg-product-grid> -->

    <!--

    {{ result }} -->
    <!-- <mbg-input-step placeholder="Ex. Camiseta, Adidas, Verão"
                    on-finish-focus-element="#entityModel input">
      <mbg-input-step-item ng-model="entity.productTree"
                           fetch="getTipoProduto()"
                           focus="focusedTeste('1')"
                           un-focus="unFocus()"
                           placeholder="'Selecione na lista abaixo o tipo de produto.'"
                           label="name"></mbg-input-step-item>
     <mbg-input-step-item ng-model="entity.brand"
                           fetch="getMarca()"
                           focus="focusedTeste('2')"
                           placeholder="countBrands > 0 ? 'Digite a marca ou selecione uma na lista abaixo' : 'Digite a marca.'"
                           enable-add="true"
                           un-focus="unFocus()"
                           label="name"></mbg-input-step-item>
      <mbg-input-step-item ng-model="entity.model"
                           focus="focusedTeste('3')"
                           un-focus="unFocus()"
                           capitalize="true"
                           placeholder="'Qual o modelo?'"></mbg-input-step-item>
    </mbg-input-step> -->
    <!-- <mbg-address ng-model="address"
                 not-found="lalala()"
                 cep-class="teste"></mbg-address>
    <br /> -->

    <!--
          <pre>{{ address | json }}</pre>
      <div class="panel panel-default">
      <div class="panel-heading">Percentage</div>
      <div class="panel-body">
        <mbg-input-percentage ng-model="percentage"></mbg-input-percentage>
      </div>
    </div> -->

    <!-- <form name="formteste">
      <mbg-input-ie ng-model="ie"
                    name="teste"
                    state="'PR'"></mbg-input-ie>
    </form>
    <div class="width-300" style="width: 300px">
      <mbg-image-upload config="config"
      ng-model="profileImage"></mbg-image-upload>
    </div> -->


    <div class="row">
      <div class="col-md-4">
        <!-- <mbg-input-checkbox ng-model="valor"></mbg-input-checkbox> -->
        <input type="text" mbg-input-money data-precision="2" ng-model="valor2" />
        <mbg-input-money ng-model="valor2" precision="4" enable-keyboard></mbg-input-money>
      </div>
    </div>

    <!-- <mbg-radio ng-model="teste"></mbg-radio> -->
    <!-- <mbg-radio ng-model="teste"></mbg-radio> -->
    <!-- <mbg-input-search ng-model="search" placeholder="Digite aqui o que deseja pesquisar ..."></mbg-input-search> -->
    <!-- {{search}} -->

    <!-- <mbg-product-grid x="{ key: 'TAMANHO', label: 'TAMANHOS PRODUTO' }"
                      y="{ key: 'COR', label: 'COR PRODUTO' }"
                      details="details"
                      ng-model="result"
                      active-add-or-remove="true"
                      on-click-edit-button="editTeste(x, y)"
                      extra-button-label="+ Adicionar tamanho">
    </mbg-product-grid>
    <br>
    <pre>{{ result | json }}</pre> -->

    <!-- <br>
    <br>
     -->

    <!-- <mbg-checkbox ng-model="teste2"></mbg-checkbox>

    <mbg-radio ng-model="teste" ng-value="specialValue"></mbg-radio> -->

    <!--  -->

    <!-- <mbg-btn-form ng-click="lalala()"
                  ng-disabled="false"
                  loading="false"
                  label="Continuar"></mbg-btn-form> -->


    <!-- <div class="panel panel-default">
      <div class="panel-heading">Navigation</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <mbg-navigation get-navigation="getNavigation(item, page)"
                            max-height="300px"
                            on-item-click="addItem(item)">
            </mbg-navigation>
          </div>
        </div>
      </div>
    </div> -->

    <!--    <div class="panel panel-default">
      <div class="panel-heading">Address</div>
      <div class="panel-body">-->
    <!-- <mbg-address ng-model="address" on-finish-focus-element="#focusaqui"></mbg-address>
    <input id="focusaqui"> -->
    <!-- </div> -->
    <!-- <div class="panel-footer"> -->
    <!-- <pre>{{ address | json }}</pre> -->
    <!-- </div> -->
    <!-- </div> -->
    <!--
    <div class="panel panel-default">
      <div class="panel-heading">Image Upload</div>
      <div class="panel-body">
        -->
    <!-- <mbg-image-upload config="config"
                      ng-model="profileImage"></mbg-image-upload> -->
    <!--
      </div>
    </div>
  -->
    <!-- <div class="panel panel-default">
      <div class="panel-heading">CNPJ</div>
      <div class="panel-body">
        <mbg-input-cnpj placeholder="Ex: teste"
                        ng-model="cnpj"></mbg-input-cnpj>
      </div>
    </div> -->

    <!-- <div class="panel panel-default">
      <div class="panel-heading">CPF</div>
      <div class="panel-body">
        <mbg-input-cpf ng-model="cpf"></mbg-input-cpf>
      </div>
    </div> -->

    <!-- <div class="panel panel-default">
      <div class="panel-heading">CPF ou CNPJ</div>
      <div class="panel-body">
        <mbg-input-cpf-cnpj ng-model="cpfcnpj"></mbg-input-cpf-cnpj>
      </div>
    </div> -->

    <!-- <div class="panel panel-default">
      <div class="panel-heading">Email</div>
      <div class="panel-body">
        <mbg-input-email ng-model="email"></mbg-input-email>
      </div>
    </div> -->


    <!-- <form>
      <div class="panel panel-default">
        <div class="panel-heading">Name</div>
        <div class="panel-body">
          <mbg-input-name ng-model="name"></mbg-input-name>
        </div>
      </div>
    </form> -->


    <!-- <div class="panel panel-default">
    <div class="panel-heading">Money</div>
    <div class="panel-body">
      <mbg-input-money ng-model="money"
        ng-keydown="testeloko()"
        allow-negative="false"></mbg-input-money>
      {{ money }}
    </div>
  </div>
-->
    <!-- <div class="panel panel-default">
    <div class="panel-heading">Number Only</div>
    <div class="panel-body">
      <mbg-input-number ng-model="number"></mbg-input-number>
    </div>
  </div> -->
    <!-- <div class="panel panel-default">
      <div class="panel-heading">Percentage</div>
      <div class="panel-body">
        <mbg-input-percentage ng-model="percentage"></mbg-input-percentage>
      </div>
    </div> -->

    <!-- <div class="panel panel-default">
      <div class="panel-heading">Phone</div>
      <div class="panel-body">
        <mbg-input-phone ng-model="phone"></mbg-input-phone>
      </div>
    </div> -->


    <!-- <div class="panel panel-default">
      <div class="panel-heading">Steps</div>
      <div class="panel-body">
        <mbg-input-step placeholder="Ex. Camiseta, Adidas, Verão"
                        on-finish-focus-element="#entityModel input">
          <mbg-input-step-item ng-model="entity.productTree"
                               fetch="getTipoProduto()"
                               focus="focusedTeste('1')"
                               un-focus="unFocus()"
                               placeholder="'Selecione na lista abaixo o tipo de produto.'"
                               label="name"></mbg-input-step-item>
          <mbg-input-step-item ng-model="entity.brand"
                               fetch="getMarca()"
                               focus="focusedTeste('2')"
                               placeholder="countBrands > 0 ? 'Digite a marca ou selecione uma na lista abaixo' : 'Digite a marca.'"
                               enable-add="true"
                               un-focus="unFocus()"
                               label="name"></mbg-input-step-item>
          <mbg-input-step-item ng-model="entity.model"
                               focus="focusedTeste('3')"
                               un-focus="unFocus()"
                               capitalize="true"
                               placeholder="'Qual o modelo?'"></mbg-input-step-item>
        </mbg-input-step>
        {{teste}}
      </div>
    </div> -->

    <!-- <div class="panel panel-default">
      <div class="panel-heading">Tags</div>
      <div class="panel-body">
        <mbg-input-tags ng-model="tags" input-value="VANDERSON"></mbg-input-tags>
      </div>
    </div>
    <div>
      {{VANDERSON}}
    </div> -->

    <!-- <div class="panel panel-default">
      <div class="panel-heading">Text</div>
      <div class="panel-body">
        <mbg-input-text ng-model="text"></mbg-input-text>
      </div>
    </div> -->

    <!-- <div class="panel panel-default">
      <div class="panel-heading">Textarea</div>
      <div class="panel-body">
        <mbg-text-area ng-model="textarea"></mbg-text-area>
      </div>
    </div> -->

    <!-- <br> <br>

    <button ng-click="kkkkkjsadjhdjsah9()">Toogle Column</button>

    <div class="container">
      <mbg-list list="produtos"
                class="table-striped"
                selected-values="testetttt"
                checkbox="false"
                checkbox-if="essaColunaPode($row)"
                opened-rows="rowsOpen">
        <mbg-list-column name="product"
                         label="Produto"
                         align-column="left"
                         align-row="left">
        </mbg-list-column>
        <mbg-list-column name="qnt"
                         label="Quantidade"
                         hidden="columnQntHidden">
        </mbg-list-column>
        <mbg-list-column name="costValue"
                         label="Valor">
        </mbg-list-column>
      </mbg-list> -->


    <!-- <pre><code>{{ testetttt | json }}</code></pre> -->
    <!-- <div style="padding: 14px;">
    <mbg-input-checkbox ng-model="teste"
                        type="email"></mbg-input-checkbox>
  </div>
  {{teste}}
  </div> -->

  </div>
</body>

</html>