mbg-image-upload-children {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    .mbg-image-upload-children {
        border-radius: 8px;
        width: 100%;
        height: fit-content;
        // border: 1px solid #eee;
        // background: #fff;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: fit-content(100%);
        grid-row-gap: 10px;
        &.empty {
            opacity: .6;
            cursor: not-allowed;
        }
        .mbg-image-upload-children-content {
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:hover {
                svg {
                    display: block;
                }
            }
            svg {
                display: none;
                width: 20px;
                position: absolute;
                z-index: 9;
                top: -8px;
                right: 0px;
                fill: #ccc;
                .st0 {
                    fill: #AAAAAA;
                }
                .st1 {
                    fill: #FFFFFF;
                }
                &:hover {
                    .st0 {
                        fill: #ee7983;
                    }
                    cursor: pointer;
                }
            }
            .mbg-image-upload-child {
                width: 90%;
                height: 65px;
                border: 1px solid #ddd;
                border-radius: 5px;
                cursor: pointer;
                transition: transform 350ms ease;
                will-change: transform, transition;
                &.rounded {
                    border-radius: 50%;
                }
                &:hover {
                    transform: scale(1.08);
                }
            }
        }
        .mbg-image-upload-children-create {
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .mbg-image-upload-children-svg {
                width: 90%;
                height: 65px;
                border: 1px solid #f5f5f5;
                border-radius: 5px;
                cursor: pointer;
                transition: transform 350ms ease;
                will-change: transform, transition;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background: #f5f5f5;
                &.rounded {
                    border-radius: 50%;
                }
                * {
                    cursor: pointer;
                }
                svg {
                    width: 24px;
                }
                label {
                    margin: 0;
                    font-weight: 500;
                    font-size: 12px;
                }
                &:hover {
                    transform: scale(1.08);
                }
            }
        }
    }
}
