<div class="mbg-keyboard-wrapper">
    <div class="mbg-keyboard-row">
        <div class="mbg-keyboard-item mbg-keyboard-option" ng-repeat="option in $ctrl.options"
            uib-tooltip="{{option.tooltip ? option.tooltip : ''}}" tooltip-placement="top">
            <button type="button" tabindex="-1"
                ng-disabled="option.isDisabled()" ng-class="{ 'active': option.enable }"
                ng-style="{ 'background': option.enable ? $ctrl.activeColor : 'transparent', 'border': option.enable ? '1px solid ' + $ctrl.activeColor : '' }"
                ng-click="$ctrl.handleOptionClick(option)" ng-bind-html="$ctrl.transformHTMLContent(option.content)">
            </button>
        </div>
    </div>
    <div class="mbg-keyboard-separator" ng-if="$ctrl.options.length > 0">
        <div class="mbg-keyboard-line"></div>
    </div>
    <div class="mbg-keyboard-row" ng-class="{ 'mbg-keyboard-disable': !$ctrl.currentActiveElement }"
        ng-repeat="row in $ctrl.rowsButtons">
        <div class="mbg-keyboard-item" ng-repeat="button in row.buttons">
            <button type="button" tabindex="-1"
                ng-click="$ctrl.onButtonClick(button.code)"><span>{{ button.label }}</span></button>
        </div>
    </div>
    <div class="mbg-keyboard-row" ng-class="{ 'mbg-keyboard-disable': !$ctrl.currentActiveElement }">
        <div class="mbg-keyboard-item flex-1">
            <button data-keyboard-code="13" type="button" ng-click="$ctrl.onButtonClick(13)" tabindex="-1"
                ng-style="{ 'background': $ctrl.activeColor }" class="mbg-keyboard-enter"><span>ENTER</span></button>
        </div>
    </div>
</div>