<div class="mbg-input-number-wrapper mbg-input-wrapper"
     ng-if="$ctrl.props">
  <input type="text"
         ui-number-mask="{{ $ctrl.props.precision }}"
         ng-attr-ui-hide-group-sep="{{ $ctrl.props.uiHideGroupSep }}"
         min="{{ $ctrl.props.min }}"
         max="{{ $ctrl.props.max }}"
         ng-model="$ctrl.ngModel"
         ng-change="$ctrl.onChange()"
         ng-required="$ctrl.ngRequired"
         ng-disabled="$ctrl.ngDisabled"
         ng-blur="$ctrl.ngBlur({ $event })"
         ng-focus="$ctrl.ngFocus({ $event })"
         placeholder="{{ $ctrl.props.placeholder }}" />
</div>