.mbg-input-number-wrapper {
    input[type=number] {
        text-align: right;
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0; 
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button  {
            -webkit-appearance: none; 
            margin: 0; 
        }
    }
}