mbg-radio {
    .label-radio {
        user-select: none;
        cursor: pointer;
        margin-bottom: 0;
    }

    .label-radio input:checked + .checkbox {
        border-color: #20C2E0;
    }

    .label-radio input:checked + .checkbox svg path {
        fill: #20C2E0;
    }

    .label-radio input:checked + .checkbox svg polyline {
        stroke-dashoffset: 0;
    }

    .label-radio:hover .checkbox svg path {
        stroke-dashoffset: 0;
        border-radius: 50%;
    }

    .label-radio:hover .checkbox {
        border: 2px solid #20c2e0;
    }

    .label-radio .checkbox {
        position: relative;
        top: 2px;
        float: left;
        margin: 0px;
        width: 20px;
        height: 20px;
        border: 2px solid #C8CCD4;
        border-radius: 50%;
        transition: all 0.6s ease;
    }

    .label-radio .checkbox svg {
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
    }

    .label-radio .checkbox svg path {
        fill: none;
        stroke: #20C2E0;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 71px;
        stroke-dashoffset: 71px;
        transition: all 0.6s ease;
    }

    .label-radio .checkbox svg polyline {
        fill: none;
        stroke: #FFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 18px;
        stroke-dashoffset: 18px;
        transition: all 0.3s ease;
    }

    .label-radio > span {
        pointer-events: none;
        vertical-align: middle;
    }
    
    .label-radio .invisible {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }      
}